<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  <targets>
    <target name="FileTarget" xsi:type="File" layout="${longdate}|${level:uppercase=true}|${message}|${callsite}${onexception:|${exception:format=type,message,method,stacktrace:separator=|:innerExceptionSeparator= ==> :maxInnerExceptionLevel=7:innerFormat=type,message,stacktrace}}" fileName="logs/nlog-all-${shortdate}.log"/>
    <target name="ConsoleTarget" xsi:type="ColoredConsole" layout="${longdate}|${level:uppercase=true}|${message}|${callsite}${onexception:|${exception:format=type,message,method,stacktrace:separator=|:innerExceptionSeparator= ==> :maxInnerExceptionLevel=7:innerFormat=type,message,stacktrace}}"/>
  </targets>

  <rules>
    <logger name="*" writeTo="ConsoleTarget" />
    <logger name="*" writeTo="FileTarget" />
  </rules>

</nlog>
